.container {
  width: 50em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  border: none;
  border-radius: 0.75em;
  max-width: 1200px;
  overflow: hidden;
  padding: 0.75rem 01rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: start;
}

@media (max-width: 850px) {
  .container {
    width: fit-content;
    min-width: 35rem;
  }
}
@media (max-width: 450px) {
  .container {
    width: fit-content;
    min-width: 22rem;
  }
}
