.footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

span {
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin-bottom: -10px;
}

.result {
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-top: 0.5rem;
}

.result span {
  color: black;
  font-size: 15px;
  font-weight: 600;
  padding-left: 5rem;
}
